.uspa {
  background-color: #2E1A4A;
  width: 100%;
  color: white;
  overflow: hidden;
}
.uspa .container {
  margin: auto;
  width: 1300px;
}
.uspa__row {
  -moz-align-items: Center;
  -ms-align-items: Center;
  align-items: Center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
}
.uspa__row ul {
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 15px 0px;
}
@media only screen and (min-width: 992px) {
  .uspa__row ul {
    font-size: 18px;
  }
}
.uspa__row ul li {
  padding: 0;
}
.uspa__row ul li div {
  display: flex;
  border-right: 1px solid;
}
@media only screen and (min-width: 992px) {
  .uspa__row ul li div {
    justify-content: center;
  }
}
.uspa__row ul li div img {
  height: 24px;
  width: 24px;
}
@media only screen and (min-width: 992px) {
  .uspa__row ul li div img {
    height: 32px;
    width: 32px;
  }
}
.uspa__row ul li div p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uspa__row ul li:last-child {
  border-right: none;
  /* No border for the last child */
}
.uspa__row__line {
  border: 1px solid white;
}

.product {
  display: flex;
  justify-content: center;
  background-color: #FFFAF2;
  padding-top: 90px;
}
@media only screen and (max-width: 991px) {
  .product {
    padding: 20px 20px 0px 20px;
  }
}
.product__content {
  display: flex;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .product__content {
    flex-direction: column;
  }
}
.product__content-left {
  max-width: 47.668%;
}
@media only screen and (max-width: 991px) {
  .product__content-left {
    max-width: 100%;
  }
}
.product__content-left .product-slider-for img {
  width: 100%;
  height: auto;
}
.product__content-left .product-prev-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 22px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 991px) {
  .product__content-left .product-prev-container {
    margin-top: 21px;
  }
}
.product__content-left .product-prev-container .product-slider-nav {
  width: 70%;
}
.product__content-left .product-prev-container .product-slider-nav img {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
@media only screen and (max-width: 991px) {
  .product__content-left .product-prev-container .product-slider-nav img {
    max-width: 65px;
    max-height: 65px;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .product__content-left .product-prev-container .product-slider-nav img {
    max-width: 44px;
    max-height: 44px;
    width: 100%;
    height: 100%;
  }
}
.product__content-left .product-prev-container button {
  position: absolute;
  max-width: 28px;
  max-height: 28px;
  width: 100%;
  height: 100%;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .product__content-left .product-prev-container button {
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
  }
}
.product__content-left .product-prev-container .product-prev {
  top: 34%;
  left: 0;
  background-color: #2E1A4A;
  border-radius: 14px;
  border: none;
  display: flex;
  align-items: center;
  padding: 7px;
}
@media only screen and (max-width: 991px) {
  .product__content-left .product-prev-container .product-prev {
    top: 30%;
  }
}
.product__content-left .product-prev-container .product-next {
  top: 34%;
  right: 0;
  background-color: #2E1A4A;
  border-radius: 14px;
  border: none;
  display: flex;
  align-items: center;
  padding: 7px;
}
@media only screen and (max-width: 991px) {
  .product__content-left .product-prev-container .product-next {
    top: 30%;
  }
}
.product__content-right {
  max-width: 52.332%;
  margin-left: 79px;
  display: block;
}
@media only screen and (max-width: 991px) {
  .product__content-right {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 991px) {
  .product__content-right {
    max-width: 100%;
  }
}
.product__content-right .review {
  background-color: white;
}
@media only screen and (max-width: 991px) {
  .product__content-right .review {
    display: none;
  }
}
.product__content-right .review p {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.product__content-right .review .reviewSection {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 28px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}
.product__content-right .review .reviewSection-userName {
  width: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 450;
  line-height: 0.83;
}
.product__content-right .review .reviewSection-userName img {
  width: 40px;
  height: 40px;
}
.product__content-right .review .reviewSection-rating {
  display: flex;
  align-items: center;
}
.product__content-right .review .reviewSection-rating img {
  max-width: 100px;
}
.product__content-right .StartRating {
  margin-top: 28px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .product__content-right .StartRating {
    display: none;
  }
}
.product__content-right .StartRating-img img {
  max-width: 100px;
}
.product__content-right .StartRating-rev {
  padding-left: 8px;
  font-size: 16px;
  line-height: 0.73;
}
.product__content-right .about .title {
  margin: 0;
  padding: 0;
  margin-top: 28px;
  font-size: 52px;
  line-height: 0.83;
  font-family: "Chronicle-Display";
}
@media only screen and (max-width: 991px) {
  .product__content-right .about .title {
    font-size: 28px;
  }
}
.product__content-right .about .desc {
  margin-top: 28px;
  line-height: 0.73;
}
.product__content-right .about .desc p {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 991px) {
  .product__content-right .about .desc {
    margin-top: 20px;
  }
}
.product__content-right .about .desc > :nth-child(1) {
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 991px) {
  .product__content-right .about .desc > :nth-child(1) {
    font-size: 16px;
    line-height: 1;
  }
}
.product__content-right .about .desc > :nth-child(2) {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (max-width: 991px) {
  .product__content-right .about .desc > :nth-child(2) {
    font-size: 14px;
  }
}
.product__content-right .about .desc > :nth-child(3) {
  padding-top: 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .about .desc > :nth-child(3) {
    display: none;
  }
}
.product__content-right .mb_Rev {
  display: flex;
  font-size: 13px;
  align-items: center;
  font-weight: 700;
  margin-top: 19px;
}
@media only screen and (min-width: 992px) {
  .product__content-right .mb_Rev {
    display: none;
  }
}
.product__content-right .mb_Rev img {
  width: 63px;
  height: 11px;
  margin-right: 4px;
}
.product__content-right .mb_Rev span {
  margin-left: 2px;
  font-weight: 400;
}
.product__content-right .mb-review {
  background-color: white;
  padding: 16px 22px;
  margin-top: 18px;
}
@media only screen and (min-width: 992px) {
  .product__content-right .mb-review {
    display: none;
  }
}
.product__content-right .mb-review p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.product__content-right .mb-review .reviewSection {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.product__content-right .mb-review .reviewSection-userName {
  max-width: 101px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 450;
  line-height: 0.83;
}
.product__content-right .mb-review .reviewSection-userName img {
  width: 40px;
  height: 40px;
}
.product__content-right .mb-review .reviewSection-rating {
  display: flex;
  align-items: center;
}
.product__content-right .mb-review .reviewSection-rating img {
  max-width: 70px;
}
.product__content-right .subscription {
  margin-top: 28px;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription {
    margin-top: 17px;
  }
}
.product__content-right .subscription h2 {
  font-size: 24px;
  line-height: 0.83;
  font-family: "Chronicle-Display";
}
.product__content-right .subscription .SubscriptionBoxDisplay {
  display: none;
  padding: 20px 23px 20px 20px;
  background-color: white;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay {
    padding: 18px 14px;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay .title {
  display: flex;
  align-items: center;
}
.product__content-right .subscription .SubscriptionBoxDisplay .title input[type=radio] {
  width: 26px;
  height: 26px;
  accent-color: black;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay .title input[type=radio] {
    width: 20px;
    height: 20px;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay .title label {
  font-weight: 500;
  padding-left: 6px;
  font-size: 20px;
  line-height: 0.71;
  font-family: "Chronicle-Display";
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay .title label {
    font-size: 18px;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay .plans {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay .plans {
    display: block;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan {
  margin-right: 14px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan {
    margin-bottom: 14px;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan,
.product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan {
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan,
  .product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan {
    width: 100%;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan .title,
.product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan .title {
  width: 113px;
  margin-left: 20px;
  padding: 9px 0px;
  position: relative;
  color: white;
  background-color: #2E1A4A;
  font-size: 12px;
  font-weight: 700;
  line-height: 0.71;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan .info,
.product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan .info {
  margin-left: 0px;
  border: 3px solid #2E1A4A;
  margin-top: -15px;
  border-radius: 8px;
  padding-top: 20px;
  padding-left: 20px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan .info,
  .product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan .info {
    padding: 16px 16px 0px;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan .info p,
.product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan .info p {
  margin: 0;
  padding: 0;
}
.product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan .info > :nth-child(1),
.product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan .info > :nth-child(1) {
  font-size: 18px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan .info > :nth-child(1),
  .product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan .info > :nth-child(1) {
    font-size: 16px;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan .info > :nth-child(2),
.product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan .info > :nth-child(2) {
  font-size: 14px;
  margin-top: 6px;
  width: 208px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan .info > :nth-child(2),
  .product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan .info > :nth-child(2) {
    font-size: 11px;
    width: 100%;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan .info > :nth-child(3),
.product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan .info > :nth-child(3) {
  margin-top: 14px;
  margin-bottom: 21px;
  width: 115px;
  font-size: 12px;
  font-weight: 800;
  line-height: 0.71;
  color: #2E1A4A;
  background: rgba(46, 26, 74, 0.1019607843);
  padding-top: 9px;
  padding-bottom: 9px;
  display: flex;
  justify-content: center;
  border-radius: 70px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay .plans .mostPopular_plan .info > :nth-child(3),
  .product__content-right .subscription .SubscriptionBoxDisplay .plans .bestValue_plan .info > :nth-child(3) {
    width: 105px;
    font-size: 11px;
    margin-top: 12px;
    margin-bottom: 6px;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
  display: flex;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay ul {
    display: block;
    margin-top: 11px;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay ul > li:first-child {
  padding-left: 0px;
}
.product__content-right .subscription .SubscriptionBoxDisplay ul li {
  padding-left: 20px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay ul li {
    padding-left: 0px;
    font-size: 14px;
  }
}
.product__content-right .subscription .SubscriptionBoxDisplay ul li img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .SubscriptionBoxDisplay ul li img {
    width: 18px;
    height: 18px;
  }
}
.product__content-right .subscription .purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: white;
  margin-top: 26px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .purchase {
    padding: 14px;
  }
}
.product__content-right .subscription .purchase .radioBtn {
  display: flex;
  align-items: center;
}
.product__content-right .subscription .purchase .radioBtn input[type=radio] {
  width: 26px;
  height: 26px;
  accent-color: black;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .purchase .radioBtn input[type=radio] {
    width: 20px;
    height: 20px;
  }
}
.product__content-right .subscription .purchase .radioBtn label {
  padding-left: 6px;
  font-size: 20px;
  font-weight: 375;
  line-height: 0.71;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .purchase .radioBtn label {
    font-size: 18px;
  }
}
.product__content-right .subscription .purchase .rupees {
  font-size: 20px;
  font-weight: 700;
  line-height: 0.71;
}
@media only screen and (max-width: 991px) {
  .product__content-right .subscription .purchase .rupees {
    font-size: 16px;
  }
}
.product__content-right .addToCart {
  margin-top: 28px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .addToCart {
    margin-top: 22px;
  }
}
.product__content-right .addToCart a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4B4A4;
  border-radius: 120px;
  color: white;
  padding: 21px 0px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .product__content-right .addToCart a {
    padding: 17.5px;
  }
}
.product__content-right .addToCart a img {
  width: 22px;
  height: 18px;
  margin-left: 16px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .addToCart a img {
    margin-left: 17.5px;
  }
}
.product__content-right .addToCart ul {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  display: flex;
  list-style-type: none;
  font-size: 14px;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .product__content-right .addToCart ul {
    display: block;
  }
}
.product__content-right .addToCart ul > :nth-child(1) img {
  width: 27px;
  height: 22px;
  padding-right: 6px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .addToCart ul > :nth-child(1) img {
    width: 25px;
    height: 20px;
  }
}
.product__content-right .addToCart ul li {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .product__content-right .addToCart ul li {
    justify-content: center;
  }
}
.product__content-right .addToCart ul li img {
  width: 37.5px;
  height: 20px;
}
@media only screen and (max-width: 991px) {
  .product__content-right .addToCart ul > :nth-child(2) {
    margin-top: 16px;
    justify-content: space-between;
  }
}
.product__content-right .mb-desc {
  margin-top: 17px;
  font-size: 14px;
}
@media only screen and (min-width: 992px) {
  .product__content-right .mb-desc {
    display: none;
  }
}
.product__content-right .pctAndAcco {
  margin-top: 28px;
  border-top: 1px solid #000000;
}
@media only screen and (max-width: 991px) {
  .product__content-right .pctAndAcco {
    margin-top: 22px;
  }
}
.product__content-right .pctAndAcco .percentage {
  padding: 0;
  margin: 0;
  margin-top: 28px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .product__content-right .pctAndAcco .percentage {
    margin-top: 22px;
  }
}
.product__content-right .pctAndAcco .percentage li {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product__content-right .pctAndAcco .percentage li > :nth-child(1) {
  font-size: 36px;
  font-weight: 450;
  line-height: 0.83;
}
@media only screen and (max-width: 991px) {
  .product__content-right .pctAndAcco .percentage li > :nth-child(1) {
    font-size: 28px;
  }
}
.product__content-right .pctAndAcco .percentage li > :nth-child(2) {
  margin-top: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.83;
}
@media only screen and (max-width: 500px) {
  .product__content-right .pctAndAcco .percentage li > :nth-child(2) {
    width: 93px;
    font-size: 13px;
    margin-top: 14px;
  }
}
.product__content-right .pctAndAcco .accordion-list {
  padding: 0;
  margin: 0;
  margin-top: 28px;
  position: relative;
  display: block;
  list-style: none;
}
.product__content-right .pctAndAcco .accordion-list li {
  border-top: 1px solid #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product__content-right .pctAndAcco .accordion-list li .title {
  font-size: 20px;
  font-family: "Chronicle-Display";
}
@media only screen and (max-width: 991px) {
  .product__content-right .pctAndAcco .accordion-list li .title {
    font-size: 18px;
  }
}
.product__content-right .pctAndAcco .accordion-list > :last-child {
  border-bottom: 1px solid black;
}

@font-face {
  font-family: "Chronicle-Display";
  src: url("../fonts/ChronicleDisplay-Roman.woff2") format("woff2"), url("../fonts/ChronicleDisplay-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle-Display";
  src: url("../fonts/ChronicleDisplay-LightItalic.woff2") format("woff2"), url("../fonts/ChronicleDisplay-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle-Display";
  src: url("../fonts/ChronicleDisplay-Black.woff2") format("woff2"), url("../fonts/ChronicleDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle-Display";
  src: url("../fonts/ChronicleDisplay-Semi.woff2") format("woff2"), url("../fonts/ChronicleDisplay-Semi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraLight.woff2") format("woff2"), url("../fonts/Manrope-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.woff2") format("woff2"), url("../fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraLight.woff2") format("woff2"), url("../fonts/Manrope-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Manrope";
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.star_rating {
  display: flex;
  align-items: center;
}
.star_rating img {
  width: 100px;
  height: 16px;
}

.container1286 {
  min-width: 320px;
}

@media only screen and (min-width: 992px) {
  .container1500 {
    width: 100%;
  }
  .container1286 {
    width: 1286px;
  }
}
@media only screen and (min-width: 1500px) {
  .container1500 {
    width: 1500px;
  }
  .container1286 {
    width: 1286px;
  }
}
.featured-in {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.featured-in__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
}
@media only screen and (max-width: 991px) {
  .featured-in__content {
    display: none;
  }
}
.featured-in__content > :nth-child(1) {
  font-family: "Chronicle-Display";
  margin: 0;
  padding: 0;
  font-size: 28px;
}
.featured-in__content div img {
  width: 90px;
  height: 32px;
}
.featured-in__content-mb {
  width: 100%;
  display: flex;
  padding: 36px 0px;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 992px) {
  .featured-in__content-mb {
    display: none;
  }
}
.featured-in__content-mb > :nth-child(1) {
  padding: 0;
  margin: 0;
  font-family: "Chronicle-Display";
  font-size: 26px;
  text-align: center;
}
.featured-in__content-mb .imgs {
  margin-top: 25px;
  display: block;
}
.featured-in__content-mb .imgs-first {
  display: flex;
  justify-content: space-around;
}
.featured-in__content-mb .imgs-second {
  display: flex;
  justify-content: space-around;
}
.featured-in__content-mb div img {
  width: 90px;
  height: 32px;
}

.hair-loss {
  display: flex;
  justify-content: center;
}
.hair-loss__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 992px) {
  .hair-loss__content {
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.hair-loss__content-left {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .hair-loss__content-left {
    width: 47.3%;
  }
}
.hair-loss__content-left .mb_title {
  font-family: "Chronicle-Display";
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
}
@media only screen and (min-width: 992px) {
  .hair-loss__content-left .mb_title {
    display: none;
  }
}
.hair-loss__content-left figure {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 111.5%;
  border-radius: 5px;
}
@media only screen and (min-width: 1500px) {
  .hair-loss__content-left figure {
    padding-bottom: 111.5%;
  }
}
.hair-loss__content-left figure img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.hair-loss__content-right {
  display: flex;
  width: 100%;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .hair-loss__content-right {
    width: 52.7%;
    padding: 20px 40px;
  }
}
@media only screen and (min-width: 1500px) {
  .hair-loss__content-right {
    padding: 20px 90px;
  }
}
.hair-loss__content-right .title {
  padding: 0;
  margin: 0;
  display: none;
  max-width: 563px;
  width: 100%;
  font-family: "Chronicle-Display";
}
@media only screen and (min-width: 992px) {
  .hair-loss__content-right .title {
    display: block;
    font-size: 35px;
    font-weight: 375;
    line-height: 1;
  }
}
@media only screen and (min-width: 1500px) {
  .hair-loss__content-right .title {
    font-size: 52px;
  }
}
.hair-loss__content-right .desc {
  max-width: 563px;
  width: 100%;
}
.hair-loss__content-right .desc p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 25px;
}
@media only screen and (min-width: 992px) {
  .hair-loss__content-right .desc p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
  }
}
@media only screen and (min-width: 1500px) {
  .hair-loss__content-right .desc p {
    margin-top: 25px;
    font-size: 16px;
  }
}
.hair-loss__content-right .desc ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}
.hair-loss__content-right .desc ul > li::before {
  content: "";
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='15' viewBox='0 0 20 15' fill='none'%3E%3Cpath d='M1.66406 7.4974L7.21308 13.3307L18.3307 1.66406' stroke='black' stroke-width='2.08333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 10px;
}
.hair-loss__content-right .desc ul > :nth-child(1) {
  margin-top: 0px;
}
.hair-loss__content-right .desc ul > li {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 0.73;
  margin-top: 7px;
}
@media only screen and (min-width: 992px) {
  .hair-loss__content-right .desc ul > li {
    font-size: 16px;
    font-weight: 500;
    line-height: 0.73;
  }
}
@media only screen and (min-width: 1500px) {
  .hair-loss__content-right .desc ul > li {
    font-size: 18px;
  }
}

.clinically-proven {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clinically-proven__content {
  display: flex;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content {
    display: block;
  }
}
.clinically-proven__content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2E1A4A;
  color: white;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left {
    padding: 36px 20px;
  }
}
@media only screen and (min-width: 992px) {
  .clinically-proven__content-left {
    width: 52.667%;
  }
}
.clinically-proven__content-left__content {
  margin: 45.5px 73px 45.5px 127px;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left__content {
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.clinically-proven__content-left__content .title__1 {
  padding: 0;
  margin: 0;
  font-size: 52px;
  line-height: 1;
  font-family: "Chronicle-Display";
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left__content .title__1 {
    font-size: 28px;
  }
}
.clinically-proven__content-left__content .title__2 {
  margin-top: 26PX;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.83;
}
.clinically-proven__content-left__content .mb_img {
  overflow: hidden;
  margin-top: 32px;
}
@media only screen and (min-width: 992px) {
  .clinically-proven__content-left__content .mb_img {
    display: none;
  }
}
.clinically-proven__content-left__content .mb_img img {
  border-radius: 5px;
  max-width: 320px;
  width: 100%;
  height: 294px;
}
.clinically-proven__content-left__content .days {
  padding: 0;
  margin: 0;
  margin-top: 50px;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left__content .days {
    margin-top: 32px;
  }
}
.clinically-proven__content-left__content .days .day0,
.clinically-proven__content-left__content .days .day90 {
  display: flex;
}
.clinically-proven__content-left__content .days .day0 img,
.clinically-proven__content-left__content .days .day90 img {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left__content .days .day0 img,
  .clinically-proven__content-left__content .days .day90 img {
    max-width: 64px;
    max-height: 64px;
    width: 100%;
    height: 100%;
  }
}
.clinically-proven__content-left__content .days .day0-data,
.clinically-proven__content-left__content .days .day90-data {
  padding: 17.5px 0px 17.5px 26px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left__content .days .day0-data,
  .clinically-proven__content-left__content .days .day90-data {
    margin-left: 18px;
    padding: 3px 0px;
  }
}
.clinically-proven__content-left__content .days .day0-data > :nth-child(1),
.clinically-proven__content-left__content .days .day90-data > :nth-child(1) {
  font-size: 28px;
  font-weight: 450;
  line-height: 0.9;
  font-family: "Chronicle-Display";
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left__content .days .day0-data > :nth-child(1),
  .clinically-proven__content-left__content .days .day90-data > :nth-child(1) {
    font-size: 22px;
  }
}
.clinically-proven__content-left__content .days .day0-data > :nth-child(2),
.clinically-proven__content-left__content .days .day90-data > :nth-child(2) {
  font-size: 18px;
  font-weight: 450;
  line-height: 1;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left__content .days .day0-data > :nth-child(2),
  .clinically-proven__content-left__content .days .day90-data > :nth-child(2) {
    font-size: 14px;
    font-weight: 400;
  }
}
.clinically-proven__content-left__content .days > li:nth-child(2) {
  margin-top: 25px;
}
.clinically-proven__content-left__content .button {
  margin: 0;
  margin-top: 50px;
  max-width: 444px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left__content .button {
    margin-top: 32px;
  }
}
.clinically-proven__content-left__content .button a {
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 0px;
  background: #F4B4A4;
  border-radius: 120px;
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left__content .button a {
    font-size: 18px;
    padding: 17.5px 0px;
    width: 320px;
  }
}
.clinically-proven__content-left__content .button a img {
  width: 22px;
  height: 18px;
  margin-left: 16px;
}
.clinically-proven__content-left__content .button > :nth-child(2) {
  display: flex;
  align-items: center;
  margin-top: 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 0.73;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left__content .button > :nth-child(2) {
    font-size: 11px;
  }
}
.clinically-proven__content-left__content .button > :nth-child(2) img {
  max-width: 100px;
  width: 100%;
  margin-right: 8px;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-left__content .button > :nth-child(2) img {
    max-width: 63px;
    width: 100%;
    max-height: 11px;
    height: 100%;
  }
}
.clinically-proven__content-right {
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .clinically-proven__content-right {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .clinically-proven__content-right {
    width: 47.333%;
  }
}
.clinically-proven__content-right figure {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 125.497%;
}
.clinically-proven__content-right figure img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.clinically-proven-results {
  display: flex;
  justify-content: center;
  padding: 90px 0px;
  overflow: hidden;
}
.clinically-proven-results__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.clinically-proven-results__content .titles-mainT {
  font-size: 52px;
  font-weight: 375;
  line-height: 1;
}
.clinically-proven-results__content .titles-subT {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.83;
}
.clinically-proven-results__content .clinicallyProven-slider {
  margin: auto;
  margin-top: 55px;
  width: 100%;
  max-width: 600px;
  position: relative;
}
.clinically-proven-results__content .clinicallyProven-slider figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  border-radius: 8px;
  padding-bottom: 90%;
}
.clinically-proven-results__content .clinicallyProven-slider figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.clinically-proven-results__content .clinicallyProven-slider .slick-track {
  display: flex;
  align-items: center;
}
.clinically-proven-results__content .clinicallyProven-slider .slick-slide {
  opacity: 0.5;
  padding: 20px 20px;
}
.clinically-proven-results__content .clinicallyProven-slider .slick-slide.slick-current {
  opacity: 1;
}
.clinically-proven-results__content .clinicallyProven-slider .slick-slide.slick-current figure {
  padding-bottom: 100%;
}
.clinically-proven-results__content .clinicallyProven-slider .slick-list {
  overflow: visible;
  margin: 0 -25px;
}
.clinically-proven-results__content .clinicallyProven-slider button {
  position: absolute;
  top: 50%;
}
.clinically-proven-results__content .clinicallyProven-slider .clinicallyRes-prev {
  background-color: #F4B4A4;
  left: -59px;
  border: 1px solid transparent;
  border-radius: 11px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
}
.clinically-proven-results__content .clinicallyProven-slider .clinicallyRes-next {
  right: -59px;
  background-color: #F4B4A4;
  border: 1px solid transparent;
  border-radius: 11px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
}
.clinically-proven-results__content .clinicallyProven-slider .slick-dots > li > button {
  font-size: 24px;
  color: #F4B4A4;
}/*# sourceMappingURL=custom.css.map */