.clinically-proven {
    display: flex;
    justify-content: center;

    @include media1500 {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__content {
        display: flex;

        &-left {
            // max-width: 720px;
            background-color: #2E1A4A;
            color: white;
            padding-top: 95px;
            padding-bottom: 95px;
            padding-left: 107px;
            padding-right: 73px;

            >:nth-child(1) {
                padding-top: 23.5px;
                padding-bottom: 34.5px;
                width: 590px;

                >:nth-child(1) {
                    font-size: 52px;
                    font-weight: 375;
                    line-height: 1;
                }

                >:nth-child(2) {
                    margin-top: 26PX;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 0.83;
                }
            }

            >:nth-child(2) {
                padding: 0;
                margin: 0;

                >li {
                    display: flex;

                    img {
                        width: 100px;
                        height: 100px;
                    }

                    >div {
                        padding-top: 17.5px;
                        padding-bottom: 17.5px;
                        padding-left: 26px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        >:nth-child(1) {
                            font-size: 28px;
                            font-weight: 450;
                            line-height: 0.9;
                        }

                        >:nth-child(2) {
                            padding-top: 25px;
                            font-size: 18px;
                            font-weight: 450;
                            line-height: 1;
                        }
                    }
                }

                >li:nth-child(2) {
                    padding-top: 25px;
                }
            }

            >:nth-child(3) {
                margin: 0;
                width: 340px;
                margin-top: 50px;
                width: 100%;

                >:nth-child(1) {
                    width: 340px;
                    display: flex;
                    justify-content: center;
                    padding-top: 23px;
                    padding-bottom: 23px;
                    background: #F4B4A4;
                    border-radius: 120px;

                    img {
                        width: 22px;
                        height: 18px;
                        margin-left: 16px;
                    }
                }

                >:nth-child(2) {
                    display: flex;
                    text-align: center;
                    justify-content: start;
                    align-items: center;
                    margin-top: 22px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 0.73;

                    img {
                        width: 100px;
                        margin-right: 8px;
                    }
                }
            }
        }

        &-right {
            img {
                height: 100%;
                width: 100%;
            }
        }
    }

}