.product {
    display: flex;
    justify-content: center;
    background-color: #FFFAF2;
    padding-top: 90px;

    @include media991 {
        padding: 20px 20px 0px 20px;
    }

    &__content {
        display: flex;
        width: 100%;

        @include media991 {
            flex-direction: column;
        }

        &-left {
            max-width: 47.668%;

            @include media991 {
                max-width: 100%;
            }

            .productSliderFor {
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .product-prev-container {
                overflow: hidden;
                width: 100%;
                position: relative;
                margin-top: 22px;
                display: flex;
                justify-content: center;

                @include media991 {
                    margin-top: 21px;
                }

                .productSliderNav {
                    width: 70%;

                    img {
                        max-width: 80px;
                        max-height: 80px;
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;

                        @include media991 {
                            max-width: 65px;
                            max-height: 65px;
                            width: 100%;
                            height: 100%;
                        }

                        @include media500 {
                            max-width: 44px;
                            max-height: 44px;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                button {
                    position: absolute;
                    max-width: 28px;
                    max-height: 28px;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    cursor: pointer;

                    @include media991 {
                        max-width: 20px;
                        max-height: 20px;
                        width: 100%;
                        height: 100%;
                    }
                }

                .product-prev {
                    top: 34%;
                    left: 0;
                    background-color: #2E1A4A;
                    border-radius: 14px;
                    border: none;
                    display: flex;
                    align-items: center;
                    padding: 7px;

                    @include media991 {
                        top: 30%;
                    }
                }

                .product-next {
                    top: 34%;
                    right: 0;
                    background-color: #2E1A4A;
                    border-radius: 14px;
                    border: none;
                    display: flex;
                    align-items: center;
                    padding: 7px;

                    @include media991 {
                        top: 30%;
                    }
                }
            }
        }

        &-right {
            max-width: 52.332%;
            margin-left: 79px;
            display: block;

            @include media991 {
                margin-left: 0px;
            }

            @include media991 {
                max-width: 100%;
            }

            .review {
                background-color: white;

                @include media991 {
                    display: none;
                }

                p {
                    margin: 0;
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-top: 30px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                }

                .reviewSection {
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-top: 28px;
                    padding-bottom: 22px;
                    display: flex;
                    justify-content: space-between;

                    &-userName {
                        width: 126px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        img {
                            width: 40px;
                            height: 40px;
                        }

                        h6 {
                            padding: 0;
                            margin: 0;
                            font-size: 18px;
                            line-height: 0.83;
                            font-family: $secondary-font;
                        }
                    }

                    &-rating {
                        display: flex;
                        align-items: center;

                        img {
                            max-width: 100px;
                        }
                    }

                }

            }

            .StartRating {
                @include media991 {
                    display: none;
                }

                margin-top: 28px;
                display: flex;
                align-items: center;

                &-img {
                    img {
                        max-width: 100px;
                    }
                }

                &-rev {
                    padding-left: 8px;
                    font-size: 16px;
                    line-height: 0.73;

                    p {
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            .about {
                .title {
                    margin: 0;
                    padding: 0;
                    margin-top: 28px;
                    font-size: 52px;
                    line-height: 0.83;

                    font-family: $secondary-font;

                    @include media991 {
                        font-size: 28px;
                    }
                }

                .desc {
                    margin-top: 28px;
                    line-height: 0.73;

                    p {
                        padding: 0;
                        margin: 0;
                    }

                    @include media991 {
                        margin-top: 20px;
                    }

                    >:nth-child(1) {
                        font-size: 18px;
                        font-weight: 500;

                        @include media991 {
                            font-size: 16px;
                            line-height: 1;
                        }
                    }

                    >:nth-child(2) {
                        margin-top: 14px;
                        font-size: 16px;
                        font-weight: 400;

                        @include media991 {
                            font-size: 14px;
                        }
                    }

                    >:nth-child(3) {
                        padding-top: 28px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22.4px;

                        @include media991 {
                            display: none;
                        }
                    }
                }

            }

            .mb_Rev {
                @include media991-min {
                    display: none;
                }

                display: flex;
                font-size: 13px;
                align-items: center;
                font-weight: 700;
                margin-top: 19px;

                img {
                    width: 63px;
                    height: 11px;
                    margin-right: 4px;
                }

                p {
                    padding: 0;
                    margin: 0;

                    span {
                        margin-left: 2px;
                        font-weight: 400;
                    }
                }

            }

            .mb-review {
                background-color: white;
                padding: 16px 22px;
                margin-top: 18px;

                @include media991-min {
                    display: none;
                }

                p {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                }

                .reviewSection {
                    margin-top: 16px;
                    display: flex;
                    justify-content: space-between;

                    &-userName {
                        max-width: 101px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h6 {
                            padding: 0;
                            margin: 0;
                            font-size: 14px;
                            line-height: 0.83;
                            font-family: $secondary-font;
                        }

                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    &-rating {
                        display: flex;
                        align-items: center;

                        img {
                            max-width: 70px;
                        }
                    }

                }

            }

            .subscription {
                margin-top: 28px;
                cursor: pointer;

                @include media991 {
                    margin-top: 17px;
                }

                h2 {
                    font-size: 24px;
                    line-height: 0.83;
                    font-family: $secondary-font;
                }

                .SubscriptionBoxDisplay {
                    display: none;
                    padding: 20px 23px 20px 20px;
                    background-color: white;

                    @include media991 {
                        padding: 18px 14px;
                    }

                    .title {
                        display: flex;
                        align-items: center;

                        input[type="radio"] {
                            width: 26px;
                            height: 26px;
                            accent-color: black;

                            @include media991 {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        label {
                            font-weight: 500;
                            padding-left: 6px;
                            font-size: 20px;
                            line-height: 0.71;
                            font-family: $secondary-font;

                            @include media991 {
                                font-size: 18px;
                            }
                        }
                    }

                    .plans {
                        padding-top: 20px;
                        display: flex;
                        justify-content: space-between;

                        @include media991 {
                            display: block;
                        }

                        .mostPopular_plan {
                            margin-right: 14px;

                            @include media991 {
                                margin-bottom: 14px;
                            }
                        }

                        .mostPopular_plan,
                        .bestValue_plan {
                            width: 100%;

                            @include media991 {
                                width: 100%;
                            }

                            .title {
                                width: 113px;
                                margin-left: 20px;
                                padding: 9px 0px;
                                position: relative;
                                color: white;
                                background-color: #2E1A4A;
                                font-size: 12px;
                                font-weight: 700;
                                line-height: 0.71;
                                border-radius: 5px;
                                display: flex;
                                justify-content: center;
                            }

                            .info {
                                margin-left: 0px;
                                border: 3px solid #2E1A4A;
                                margin-top: -15px;
                                border-radius: 8px;
                                padding-top: 20px;
                                padding-left: 20px;

                                @include media991 {
                                    padding: 16px 16px 0px;
                                }

                                p {
                                    margin: 0;
                                    padding: 0;

                                }

                                >:nth-child(1) {
                                    font-size: 18px;

                                    @include media991 {
                                        font-size: 16px;
                                    }
                                }

                                >:nth-child(2) {
                                    font-size: 14px;
                                    margin-top: 6px;
                                    width: 208px;

                                    @include media991 {
                                        font-size: 11px;
                                        width: 100%;
                                    }
                                }

                                >:nth-child(3) {
                                    margin-top: 14px;
                                    margin-bottom: 21px;
                                    width: 115px;
                                    font-size: 12px;
                                    font-weight: 800;
                                    line-height: 0.71;
                                    color: #2E1A4A;
                                    background: #2E1A4A1A;
                                    padding-top: 9px;
                                    padding-bottom: 9px;
                                    display: flex;
                                    justify-content: center;
                                    border-radius: 70px;

                                    @include media991 {
                                        width: 105px;
                                        font-size: 11px;
                                        margin-top: 12px;
                                        margin-bottom: 6px;
                                    }
                                }
                            }
                        }
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        margin-top: 20px;
                        display: flex;

                        @include media991 {
                            display: block;
                            margin-top: 11px;
                        }

                        >li:first-child {
                            padding-left: 0px;
                        }

                        li {
                            padding-left: 20px;
                            display: flex;
                            font-size: 16px;
                            font-weight: 400;

                            @include media991 {
                                padding-left: 0px;
                                font-size: 14px;
                            }

                            img {
                                width: 20px;
                                height: 20px;
                                margin-right: 8px;

                                @include media991 {
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                        }

                    }
                }

                .purchase {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    background: white;
                    margin-top: 26px;

                    @include media991 {
                        padding: 14px;
                    }

                    .radioBtn {
                        display: flex;
                        align-items: center;

                        input[type="radio"] {
                            width: 26px;
                            height: 26px;
                            accent-color: black;

                            @include media991 {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        label {
                            padding-left: 6px;
                            font-size: 20px;
                            font-weight: 375;
                            line-height: 0.71;

                            @include media991 {
                                font-size: 18px;
                            }
                        }
                    }

                    .rupees {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 0.71;

                        @include media991 {
                            font-size: 16px;
                        }
                    }
                }
            }

            .addToCart {
                margin-top: 28px;

                @include media991 {
                    margin-top: 22px;
                }

                a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #F4B4A4;
                    border-radius: 120px;
                    color: white;
                    padding: 21px 0px;
                    font-size: 20px;
                    font-weight: 800;
                    text-decoration: none;

                    @include media991 {
                        padding: 17.5px;
                    }

                    img {
                        width: 22px;
                        height: 18px;
                        margin-left: 16px;

                        @include media991 {
                            margin-left: 17.5px;
                        }
                    }
                }

                ul {
                    padding: 0;
                    margin: 0;
                    margin-top: 16px;
                    display: flex;
                    list-style-type: none;
                    font-size: 14px;
                    justify-content: space-between;

                    @include media991 {
                        display: block;
                    }

                    >:nth-child(1) img {
                        width: 27px;
                        height: 22px;
                        padding-right: 6px;

                        @include media991 {
                            width: 25px;
                            height: 20px;
                        }
                    }

                    li {
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        @include media991 {
                            justify-content: center;
                        }

                        img {
                            // padding-right: 15.37px;
                            width: 37.5px;
                            height: 20px;
                        }
                    }

                    >:nth-child(2) {
                        @include media991 {
                            margin-top: 16px;
                            justify-content: space-between;
                        }
                    }
                }
            }

            .mb-desc {
                @include media991-min {
                    display: none;
                }

                margin-top: 17px;
                font-size: 14px;

                p {
                    margin: 0;
                    padding: 0;
                }
            }

            .pctAndAcco {
                margin-top: 28px;
                border-top: 1px solid #000000;

                @include media991 {
                    margin-top: 22px;
                }

                .percentage {
                    padding: 0;
                    margin: 0;
                    margin-top: 28px;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-between;

                    @include media991 {
                        margin-top: 22px;
                    }

                    li {
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        h4 {
                            margin: 0;
                            font-size: 36px;
                            line-height: 0.83;
                            font-family: $secondary-font;

                            @include media991 {
                                font-size: 28px;
                            }
                        }

                        p {
                            margin: 0;
                            padding: 0;
                            margin-top: 19px;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 0.83;

                            @include media500 {
                                width: 93px;
                                font-size: 13px;
                                margin-top: 14px;
                            }
                        }
                    }

                }

                .accordion-list {
                    cursor: pointer;
                    padding: 0;
                    margin: 0;
                    margin-top: 28px;
                    position: relative;
                    display: block;
                    list-style: none;

                    li {
                        border-top: 1px solid #000000;
                        padding-top: 20px;
                        padding-bottom: 20px;

                        h5 {
                            margin: 0;
                            font-size: 20px;
                            font-family: $secondary-font;
                            display: flex;
                            justify-content: space-between;

                            @include media991 {
                                font-size: 18px;
                            }
                        }
                    }

                    >:last-child {
                        border-bottom: 1px solid black;
                    }
                }

            }

        }

    }



}