@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// Inline flexbox display
@mixin inline-flexbox() {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    justify-content: $justify;
    -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-items($align) {
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    align-items: $align;
}



@mixin media500{
    @media only screen and (max-width: 500px) {
        @content;
    }
}
@mixin media768-min {
    @media only screen and (min-width: 768px) {
        @content;
    }
}
@mixin media768 {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin media991 {
    @media only screen and (max-width: 991px) {
        @content;
    }
}
@mixin media991-min {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin media1250-min {
    @media only screen and (min-width: 1250px) {
        @content;
    }
}

@mixin media1500-min {
    @media only screen and (min-width: 1500px) {
        @content;
    }
}
@mixin media1500 {
    @media only screen and (max-width: 1500px) {
        @content;
    }
}
@mixin media360To991 {
    @media only screen and (min-width: 360px) and (max-width: 991px) {
        @content;
    }
}
@mixin media992To1500 {
    @media only screen and (min-width: 992px) and (max-width: 1500px) {
        @content;
    }
}

$primary-font: 'Manrope';
$secondary-font: 'Chronicle-Display';